<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="parent-div">
  <!-- Header HTML Code Begin -->
  <header class="header-6">

    <!--Branding class contains the product logo and the project title (.clr-icon,.title) -->
    <div class="branding">
      <!--Setting the logo and name of the website -->
      <a href="#" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Flowchart UI Navigator </span>
      </a>
    </div>

    <!--header-actions class contains the contains secondary navigation links  -->
    <div class="header-actions">
      <!-- Creating a seach option to search by keywords -->
      <form class="search">
        <label for="search_input">
          <input id="search_input" type="text" placeholder="Search for keywords...">
        </label>
      </form>

      <!-- Creating an Option to logout and display current logged in user -->
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          user@vmware.com
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>

      <!-- Creating an Option to manage any settings -->
      <a href="javascript://" class="nav-link nav-icon" aria-label="settings" title="Settings">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>

  </header>
  <!-- Header navbar code End -->

  <!-- Code for card grid like design -->
  <div class="container" *ngIf="!endOfFlow">              <!-- Only display if end of flowchart is not reached -->
    <div class="clr-row" *ngFor="let x of createRange(numberOfRows); let i=index"> <!-- Looping numberOfRows times, also getting index in i -->
      <div class="col-lg-4 col-sm-6" id="id1" *ngFor="let y of createRange(getNumberOfRemainingBoxes()); let j=index">    <!-- Looping to render cards based on getNumberOfRemainingBoxes() -->
        <div class="card  " style="width: 18rem;">
          <div class="backgroundEffect"></div>
          <div class="card-body ">
            <p class="card-text text-center">{{ flowchart1[currentLayer].children[(i*3)+j].value }} </p>    <!-- Text displayed inside card body from dummy data -->
            <button type="button" class="btn btn-link btn-sm text-center read-more" data-toggle="tooltip"
              data-placement="left" [title]='flowchart1[currentLayer].children[(i*3)+j].value'>Read More</button>   <!-- Read More Tool tip -->
            <button type="button" class="btn btn-link stretched-link" [id]='(i*3)+j'
              (click)='goToNextStep($event)'></button>        <!-- Button to make the entire card clickable -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End of Flow -->
  <div class="container" *ngIf="endOfFlow">
    <div class="fade-in-text">
      <p class="home-text"> This flow has ended! </p><br>
    </div>
  </div>
  <!-- HTML Code for body Ends -->

  <!-- Footer HTML code Begin-->
  <header class="header-6 footer-class">

    <!-- VMWare logo -->
    <div class="logo-div">
      <div class="logo">VMware</div>
    </div>

    <div class="header-nav">
      <!-- Linking confluence page -->
      <a href="https://confluence.eng.vmware.com/pages/viewpage.action?spaceKey=RO&title=NCG+Project+Flow+Chart+UI"
        target="_blank" class="btn-nav">
        <clr-icon shape="file-group" class="is-solid" size="24"></clr-icon>
      </a>
      <!-- Linking gitlab page -->
      <a href="https://gitlab.eng.vmware.com/agarwalna/flowchart-ui-for-vsphere-performance-support-navigator"
        target="_blank" class="btn-nav">
        <clr-icon shape="download" class="is-solid" size="24"></clr-icon>
      </a>
    </div>

  </header>
  <!-- Footer HTML Code End -->

</div>