.parent-div {
  padding: 0;
  margin: 0;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

/* Code for making scroll bar invisible */
::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
}

.header-6 {
  display: flex;
}

/* Grid related CSS start*/
.clr-col {
  margin: 2px;
  border: 2px solid black;
}

.container {
  margin-bottom: 7%
}

/* Card CSS */
.card {
  min-height: 220px;
  cursor: pointer;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;              /* number of lines to show */
  -webkit-box-orient: vertical;
  min-height: 100px;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}

.card:hover {
  color: #fff;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  border-color: #3396FF;
}

.card:hover .backgroundEffect {
  bottom: 0;
  height: 220px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #D6EAF8;
  animation: popBackground 0.5s ease-in
}

/* Card animation */
@keyframes popBackground {
  0% {
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%
  }

  50% {
    height: 80px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%
  }

  75% {
    height: 160px;
    border-top-left-radius: 85%;
    border-top-right-radius: 85%
  }

  100% {
    height: 320px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%
  }
}

/* Make the button invisible */
.stretched-link {
  opacity: 0;
}

/* Read more button css */
.read-more {
  z-index: 3;
  position: relative;
}

.btn-link {
  margin-left: 5.5rem;
  font-size: 0.5rem;
}

.btn-primary {
  padding: 0px;
  width: 6.5rem;
}

/* tooltip css */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* tooltip when not hovering */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  border: 3px solid black;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
}

/* readmore hover animation */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* Grid related CSS ends*/

/* Footer Related CSS start*/
/* Class for maintaing the footer position. */
.footer-class {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6%;
}

/* Class Aligning all the nav-text to the right of footer */
.header-nav {
  margin-left: auto;
}

/* To make footer text according to the requirements */
.nav-text {
  font-size: 1rem;
  line-height: 2.5rem;
}

/* Spacing for icons in footer */
.btn-nav {
  padding: 5px 30px 5px 0px;
  margin-top: 8px;
}

/* Aligning the logo in center for footer */
.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

/* VMWare logo size */
.logo {
  font-size: 1rem;
}
/* Footer related CSS ends */

/* CSS related to end of flow animation */
.fade-in-text {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.home-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 20;
  display: block;
  white-space: nowrap;
  text-align: center
}